In [ ]:
import mysql.connector
import pandas as pd

# Connect to server
cnx = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="haritha08@")

In [6]:
query = "select * from banking_case.customer";

df = pd.read_sql(query,cnx)

NameError: name 'pd' is not defined